<%= form_with(model: order, local: true) do |form| %>
<input type="hidden", name="tisch", value="<%= @table.id %>">
<ul class="list-group">
    <% @products.each do |p| %>
    <li class="list-group-item">
    <div class="form-group">
        <h3><%= p.name %></h3>
        <%= form.number_field p.name, value: 0, class: "form-control"%>
    </div>
    </li>
    <% end %>
</ul>
<%= form.submit class: "btn btn-primary form-control" %>
<% end %>