<h1><%= @organization.name %></h1>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <%= render 'users/list', users: @organization.users %>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Roles</h2>
                <ul class="list-group card-text">
                <% @organization.roles.each do |role| %>
                    <li class="list-group-item"><%= link_to role.name, role %>: <%= role.users.size %></li>
                <% end %>
                </ul>
                <% if admin? %><%= link_to 'Add role', new_role_url, class: "btn btn-primary card-link" %><% end %>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <%= render 'tables/list', tables: @organization.tables %>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body" style="overflow: scroll">
                <h2 class="card-title">Products</h2>
                <ul class="list-group card-text">
                    <% @organization.drinks.each do |p|%>
                        <li class="list-group-item"><strong><%= p.name%></strong> <%= p.preis %><span class="badge badge-pill badge-danger">Drink</span></li>
                    <% end %>
                    <% @organization.dishes.each do |p| %>
                        <li class="list-group-item">D<strong><%= p.name%></strong> <%= p.preis %><span class="badge badge-pill badge-warning">Food</span></li>
                    <% end %>
                </ul>
                <% if admin? %><%= link_to 'New Product',  new_product_url, class: "btn btn-primary card-link" %><% end %>
            </div>
        </div>
    </div>
</div>